name: $(SourceBranchName)_$(date:yyyyMMdd)$(rev:.r)

trigger: none # No automatic build trigger, add - '*' for auto trigger


pool:
  vmImage: 'ubuntu-latest'


steps:
  - script: |
      build_name="$(SourceBranchName)_$(date +%Y%m%d)$(Build.BuildId)"
      zip_name="${build_name}.zip"
      mkdir -p temp
      cd temp
      touch tempfile
      zip -r $zip_name .
      echo "##vso[task.setvariable variable=ZIP_NAME]$zip_name"
    displayName: 'Zip Temp Directory with Timestamp and Revision '

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: './temp/$(ZIP_NAME)'
      artifactName: 'ZippedArtifact'
    displayName: 'Publish Artifact'
