# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
    - '*'

pool:
    vmImage: 'ubuntu-18.04'
    demands:
        - npm

variables:
    buildConfiguration: 'Release'

steps:
    - task: UseDotNet@2
      displayName: 'Use .Net Core SDK 3.1.300'
      inputs:
          packageType: sdk
          version: 3.1.300
    - task: Npm@1
      displayName: 'Run npm install'
      inputs:
          verbose: false

    - script: dotnet build --configuration $(buildConfiguration)
      displayName: 'dotnet build $(buildConfiguration)'
