### YamlMime:Yaml
ms.openlocfilehash: 3784bdf705a4465dcc41c16c78a09e8346182c32
ms.sourcegitcommit: 52128e1e0cb6e7de6806013aec318b8c01dd2376
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 02/14/2021
ms.locfileid: "104286762"
trigger:
- '*'
pool:
  vmImage: ubuntu-18.04
  demands:
  - npm
variables:
  buildConfiguration: Release
  wwwrootDir: Tailspin.SpaceGame.Web/wwwroot
  dotnetSdkVersion: 3.1.300
steps:
- task: UseDotNet@2
  displayName: Use .NET Core SDK $(dotnetSdkVersion)
  inputs:
    version: $(dotnetSdkVersion)
- task: Npm@1
  displayName: Run npm install
  inputs:
    verbose: false
- script: ./node_modules/.bin/node-sass $(wwwrootDir) --output $(wwwrootDir)
  displayName: Compile Sass assets
- task: gulp@1
  displayName: Run gulp tasks
- script: echo "$(Build.DefinitionName), $(Build.BuildId), $(Build.BuildNumber)" > buildinfo.txt
  displayName: Write build info
  workingDirectory: $(wwwrootDir)
- task: DotNetCoreCLI@2
  displayName: Restore project dependencies
  inputs:
    command: restore
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  displayName: Build the project - $(buildConfiguration)
  inputs:
    command: build
    arguments: --no-restore --configuration $(buildConfiguration)
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  displayName: Run unit tests - $(buildConfiguration)
  inputs:
    command: test
    arguments: --no-build --configuration $(buildConfiguration)
    publishTestResults: true
    projects: '**/*.Tests.csproj'
- task: DotNetCoreCLI@2
  displayName: Publish the project - $(buildConfiguration)
  inputs:
    command: publish
    projects: '**/*.csproj'
    publishWebProjects: false
    arguments: --no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/$(buildConfiguration)
    zipAfterPublish: true
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  condition: succeeded()