pool:
  vmImage: 'Ubuntu-16.04'
  demands:
    - npm

steps:
  - task: DotNetCoreInstaller@0
    displayName: 'Use .NET Core SDK 2.1.505'
    inputs:
      version: 2.1.505

  - task: Npm@1
    displayName: 'Run npm install'
    inputs:
      verbose: false

  - script: './node_modules/.bin/node-sass Tailspin.SpaceGame.Web/wwwroot --output Tailspin.SpaceGame.Web/wwwroot'
    displayName: 'Compile Saas assets'

  - task: Gulp@1
    displayName: 'Run gulp tasks'

  - script: 'echo "$(Build.DefinitionName), $(Build.BuildId), $(Build.BuildNumber)" > buildinfo.txt'
    displayName: 'Write Build  information'
    workingDirectory: Tailspin.SpaceGame.Web/wwwroot

  - task: DotNetCoreCLI@2
    displayName: 'Restore Project dependencies'
    inputs:
      command: restore
      projects: '**/*.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Build the Project -Release'
    inputs:
      command: build
      arguments: '--no-release --configuration Release'
      projects: '**/*.csproj'