name: $(BuildDefinitionName)_$(date:yyyyMMdd)$(rev:.r)

trigger:
- '*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      mkdir -p temp
      cd temp
      touch output.zip
      zip -r output.zip .
    displayName: 'Zip Temp Directory'

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: './temp/output.zip'
      artifactName: 'ZippedArtifact'
    displayName: 'Publish Artifact'
