trigger:
- main

pool:
    #name: 'Default'
    vmImage: ubuntu-latest
    
variables:
    buildConfiguration: 'Release'

steps:
    - script: dotnet build --configuration $(buildConfiguration)
      displayName: 'dotnet build $(buildConfiguration)'
