- task: DotNetCoreCLI@2
  inputs:
    command: 'build'

trigger:
- main

pool: 
    name: Default

variables:
    buildConfiguation: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
    displayName: 'dotnet build $(buildConfiguration)'