

— main





vmImage: ubuntu-latest





buildConfiguration: -'Release'





 — script: dotnet build —configuration $(buildConfiguration)

 displayName: 'dotnet build $(buildConfiguration) '
