### YamlMime:Yaml
ms.openlocfilehash: 16dc8b4edff051168ef33aca865771632e9e8a6e
ms.sourcegitcommit: f3937681c3f6e310355071e1842967695e365751
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 10/29/2021
ms.locfileid: "130761786"
trigger:
- '*'
pool:
  vmImage: ubuntu-20.04
  demands:
  - npm
steps:
- task: UseDotNet@2
  displayName: Use .NET SDK 5.x
  inputs:
    version: 5.x
- task: Npm@1
  displayName: Run npm install
  inputs:
    verbose: false
- script: ./node_modules/.bin/node-sass Tailspin.SpaceGame.Web/wwwroot --output Tailspin.SpaceGame.Web/wwwroot
  displayName: Compile Sass assets
- task: gulp@1
  displayName: Run gulp tasks
- script: echo "$(Build.DefinitionName), $(Build.BuildId), $(Build.BuildNumber)" > buildinfo.txt
  displayName: Write build info
  workingDirectory: Tailspin.SpaceGame.Web/wwwroot
- task: DotNetCoreCLI@2
  displayName: Restore project dependencies
  inputs:
    command: restore
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  displayName: Build the project - Release
  inputs:
    command: build
    arguments: --no-restore --configuration Release
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  displayName: Publish the project - Release
  inputs:
    command: publish
    projects: '**/*.csproj'
    publishWebProjects: false
    arguments: --no-build --configuration Release --output $(Build.ArtifactStagingDirectory)/Release
    zipAfterPublish: true
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  condition: succeeded()