trigger:
- main

pool:
  vmImage : ubuntu-latest

variables:
  buildConfiguration : 'Release'

steps:
  - script: dotnet build --configuration $(buildconfiguration)
    displayName : 'dotnet build $(buildconfiguration)'