@model TailSpin.SpaceGame.Web.Models.ProfileViewModel
@{
    ViewData["Title"] = "@Model.Profile.UserName Profile";
}
<div class="modal fade profile" id="profile-modal-@Model.Rank" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="avatar">
                            <div style="background-image:url('@Model.Profile.AvatarUrl');"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="content">
                            <h1>@Model.Profile.UserName</h1>
                            <b>Rank #@Model.Rank</b>
                            <h2>Achievements</h2>
                            <ul>
                                @foreach (var achievement in Model.Profile.Achievements)
                                {
                                    <li>@achievement</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>