pool:
 vmImage:  'ubuntu-latest'
 demands:  'npm'

steps:
  - task: DotNetCoreInstaller@0
    displayName: 'Use .NET Core SDK 2.1.505'
    inputs:
     version: 2.1.505

  - task: Npm@1
    displayName: 'Run npm install'
    inputs:
      verbose: false
  
  - script: './node_modules/.bin/node-sass Tailspin.SpaceGame.Web/wwwroot --output Tailspin.SpaceGame.Web/wwwroot'
    displayName: 'Compile sass assets'
  
  - task: Gulp@1
    displayName: 'Run gulp tasks'

  - script: 'echo "$(Build.DefinitionName) $(Build.BuildId) $(Build.BuildNumber)" > buildinfo.txt'
    displayName: 'Write build info'
    workingDirectory: Tailspin.SpaceGame.Web/wwwroot
    
  - task: DotNetCoreCLI@2
    displayName: 'Restore project dependencies'
    inputs:
      command: 'restore'
      projects: '**/*.csproj'
  
  - task: DotNetCoreCLI@2
    displayName: 'building project'
    inputs:
      command: 'build'
      arguments: '--no-restore --configuration Release'
      projects: '**/*.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'publish the project -Release'
    inputs:
     command: publish
     publishWebProjects: false
     projects: '**/*.csproj'
     arguments: '--no-build --configuration Release --output $(Build.ArtifactStagingDirectory)/Release'
     zipAfterPublish: true
    
  - task: PublishBuildArtifacts@1
    displayName: 'publish Artifact: drop'
    condition: succeeded()